<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<%= link_to "New post", new_post_path %>
<br>

<div id="posts">
  <% @posts.each do |post| %>
    <br>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <br>
  <% end %>
</div>

